<section class="font">

  <h2 class="value" data-value="{{font.title}}"><a href="{{ font.meta.download_url }}" target="_blank">{{ font.title }}</a></h2>
  
  <div class="head-font">

    <div class="designers">
      <span class="title">Designer(s):</span>
      <div class="values">
        {% for designer in font.meta.designers %}
          <span class="value" data-value="{{designer}}"
          >{{ designer }}</span
        >
        {% endfor %}
      </div>
    </div>

    <div class="tags">
			{% if font.meta.tags %}
      {% set tags = font.meta.tags|list %}
			{% else %}
      {% set tags = [] %}
			{% endif %}
      <span class="title">Tag(s):</span>
      <div class="values">
        {% for tag in tags %}
          <span class="value" data-value="{{tag}}">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="license">
      {% set license = font.meta.license %}
      <span class="title">Licence:</span>
      <div class="values">
          <span class="value" data-value="{{license}}">{{ license }}</span>
      </div>
    </div>

  </div>

  {% for style in font.meta.styles %} {% set i = loop.index - 1%}
  <style>
    @font-face {
      font-family: "{{font.title}}---{{ style }}";
      src: url("{{ font.meta.paths[i] }}");
    }
  </style>
    {% if(font.meta.sample_text) %}
	    {% set sampleText = font.meta.sample_text %}
		{% else %}
			{% set sampleText = "Récite moi l'alphabet." %}
		{% endif %}
  <div
    class="sample-text preview {{font.meta.scale}}"
    style='font-family: "{{font.title}}---{{ style }}", "substitut";'
    contenteditable="false"
  >
   {{sampleText}}
  </div>
  <input style='font-family: "{{font.title}}---{{ style }}", "substitut";' class="sample-text try" value="{{sampleText}}">

  <div class="font-style">{{ style }}</div>
  {% endfor %}
</section>
